@media (max-width: 932px) and (orientation: landscape),
       (max-width: 932px) and (orientation: portrait) {
   header {
      padding: 15px 50px;
      justify-content: space-between;
   }
   header nav ul {
      display: none;
   }
   header nav {
      display: flex;
      align-items: center;
   }
   header nav .fa-bars {
      display: block;
      font-size: 20px;
      color: var(--text-secundary);
   }
   .main-name {
      font-size: 18px;
   }
   .main-name span {
      font-size: 18px;
   }
   .main-name i {
      font-size: 20px;
   }

   /* menu mobile */

   .menu-mobile {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      background-color: #050816fa;
      transform: translateX(-100%);
      transition: 0.5s;
   }
   .menu-mobile.opened {
      transform: translateX(0%);
   }
   .menu-mobile ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 30px;
      padding: 20vh 0 0 0;
   }
   .menu-mobile ul li a {
      font-size: 20px;
      color: var(--text-secundary);
      position: relative;
      transition: 0.3s;
   }
   .menu-mobile ul:last-of-type {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      padding: 5vh 0;
   }
   .menu-mobile ul:last-of-type li a {
      font-size: 30px;
      color: #915eff80;
   }

   /* introduction seciton */

   .introduction {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 100px;
   }
   .introduction::before, .introduction::after {
      display: none;
   }
   .introduction h1 {
      font-size: 35px;
   }

   /* about me section */

   .about-me {
      padding: 20vh 5vw 50vh 5vw;
      background-position: bottom;
      background-size: contain;
   }
   .about-me::after {
      top: 10%;
      width: 100px;
      height: 100px;
   }
   .about-me h2 {
      font-size: 20px;
   }
   .about-me p {
      font-size: 14px;
   }

   /* skills section */

   .skills {
      padding: 15vh 0;
      background-size: 100% 50px;
   }
   .skills::before, .skills::after {
      top: 15%;
   }
   .skills::after {
      top: 75%;
   }
   .skills ul {
      flex-direction: column;
   }

   /* projects section */

   .projects {
      flex-wrap: wrap;
      padding: 25vh 20px;
      background-size: 100% 100px;
   }
   .projects::before, .projects::after {
      top: 20%;
   }
   .projects::after {
      top: 95%;
   }
   .projects ul li {
      width: 250px;
      height: 150px;
   }
   .projects ul li:last-of-type {
      display: none;
   }

   /* contact section */

   .contact::before {
      top: 10%;
   }

   /* three js canvas */

   .canvas-planet {
      width: 400px;
      height: 400px;
   }
}

@media (max-width: 768px) and (orientation: portrait),
       (max-height: 768px) and (orientation: landscape) {
   .about-me {
      padding: 20vh 5vw;
   }
   .about-me::after {
      top: 15%;
   }
}

@media (max-height: 430px) and (orientation: landscape) {
   .about-me {
      padding: 20vh 5vw 50vh 5vw;
   }
}

@media (max-width: 430px) and (orientation: portrait) {
   .introduction {
      padding: 100px 50px;
   }
   .introduction h1 {
      font-size: 30px;
   }

   /* about me section */

   .about-me::after {
      left: 80%;
   }

   /* skills section */

   .skills::before, .skills::after {
      top: 10%;
      left: 15%;
   }
   .skills::after {
      top: 95%;
      left: 85%;
   }
   .skills ul li {
      width: 140px;
      height: 140px;
   }

   /* projects section */

   .projects::before, .projects::after {
      top: 12%;
      left: 15%;
   }
   .projects::after {
      top: 90%;
      left: 80%;
   }

   /* contact section */

   .contact::before {
      top: 25%;
   }  

   /* three js canvas */

   .canvas-planet {
      width: 300px;
      height: 300px;
   }
}

@media (max-height: 375px) and (orientation: landscape) {
   .about-me::after {
      top: 10%;
      left: 85%;
   }
   .projects {
      padding: 40vh 0;
   }
   .contact {
      padding: 30vh 0;
   }
}

@media (max-width: 390px) and (orientation: portrait) {
   header {
      padding: 15px 20px;
   }

   .introduction h1 {
      font-size: 25px;
   }
   .intro-buttons button, .intro-buttons a {
      padding: 8px 15px;
      font-size: 13px;
   }

   /* skills section */

   .skills {
      background-size: 100% 20px;
   }
   .skills::before, .skills::after {
      width: 70px;
      height: 70px;
   }
   .skills::after {
      background-size: contain;
   }
   .skills ul li {
      width: 140px;
      height: 140px;
   }
   
   /* projects section */

   .projects {
      background-size: contain;
   }
   .projects::before, .projects::after {
      width: 80px;
      height: 80px;
      top: 10%;
   }
   .projects::after {
      width: 80px;
      height: 80px;
      top: 92%;
   }

   /* contact section */

   .contact {
      padding: 30vh 0;
   }
   .contact::before {
      top: 18%;
      width: 80px;
      height: 80px;
   }
   .contact ul li i {
      font-size: 25px;
      width: 60px;
      height: 60px;
   }
   .contact ul li h3 {
      font-size: 16px;
   }
}