:root {
   --background-color: #050816;
   --text-main: #ffffff;
   --text-secundary: #AAA6C3;
   --highlight: #915EFF;
}
html {
   scroll-behavior: smooth;
   scrollbar-width: thin;
   scrollbar-color: #915EFF #050816;
}
body {
   background-color: var(--background-color);
   overflow-x: hidden;
}

/* Header section */

header {
   width: 100%;
   display: flex;
   justify-content: space-around;
   padding: 25px 50px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   border-bottom: 1px solid #915eff31;
   background-color: var(--background-color);
}
header a {
   color: var(--text-secundary);
   position: relative;
   font-size: 20px;
   transition: 0.3s;
}
header ul a:hover {
   color: var(--text-main);
}
header a::before, .menu-mobile ul:first-of-type li a::before {
   content: "";
   position: absolute;
   bottom: -4px;
   left: 50%;
   width: 0%;
   height: 4px;
   background-color: var(--highlight);
   border-radius: 50px;
   transition: 0.3s;
}
header a:hover::before, .menu-mobile ul:first-of-type li a:hover::before {
   left: 0%;
   width: 100%;
}
header ul {
   display: flex;
   gap: 20px;
}
header nav .fa-bars {
   display: none;
}
.main-name {
   display: flex;
   align-items: center;
   color: var(--text-main);
   font-weight: 600;
}
.main-name span {
   color: var(--highlight);
   font-size: 20px;
}
.main-name i {
   font-size: 25px;
   color: var(--highlight);
}
.main-name i:first-of-type {
   margin-right: 5px;
}

/* Menu mobile */

.menu-mobile {
   display: none;
}

/* Introduction section */

.introduction {
   min-height: 100%;
   display: flex;
   justify-content: center;
   gap: 50px;
   padding: 250px 100px;
   position: relative;
}
.introduction::before, .introduction::after {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%);
   bottom: 15%;
   left: 50%;
   width: 25px;
   height: 50px;
   border-radius: 50px;
   border: 3px solid var(--text-secundary);
}
.introduction::after {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%);
   bottom: 19.8%;
   left: 50%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--text-secundary);
   animation: scrollDown 1.2s infinite alternate ease-in-out;
}
@keyframes scrollDown {
 to {
      bottom: 17.5%;
   }
}
.introduction p {
   color: var(--text-secundary);
   font-size: 16px;
}
.introduction h1 {
   color: var(--text-main);
   font-size: 45px;
   font-weight: 600;
   position: relative;
}
.introduction h1 span {
   color: var(--highlight);
}
.introduction h1::before {
   content: "";
   position: absolute;
   transform: translateY(-50%);
   top: 30%;
   left: -45px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: var(--highlight);
}
.introduction h1::after {
   content: "";
   position: absolute;
   top: 20px;
   left: -35px;
   width: 5px;
   height: 300px;
   background: linear-gradient(to bottom, #915EFF 35%, #3c276b, #150d25, transparent);
}
.intro-buttons {
   display: flex;
   gap: 10px;
   margin-top: 25px;
}
.intro-buttons button, .intro-buttons a {
   padding: 8px 15px;
   border: 0;
   border-radius: 50px;
   color: var(--text-main);
   font-weight: 600;
   font-size: 14px;
   cursor: pointer;
   transition: 0.3s;
   background-color: #915effd7;
}
.intro-buttons a {
   background-color: transparent;
   box-shadow: inset 0px 0px 0px 2px var(--highlight);
}
.intro-buttons button:hover, .intro-buttons a:hover {
   filter: drop-shadow(0px 0px 20px #915eff98);
   transform: scale(1.05);
}
.social-media ul {
   display: flex;
   gap: 15px;
   margin-top: 40px;
}
.social-media ul li a {
   color: #915eff80;
   font-size: 30px;
   cursor: pointer;
   transition: 0.3s;
}
.social-media ul li a:hover, footer ul li a:hover, .menu-mobile ul:last-of-type li a:hover {
   color: var(--highlight);
   filter: drop-shadow(0px 0px 15px #915effd2);
}

/* About me section */

.about-me {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding: 20vh 20vw;
   background: url(/assets/background-about-me.svg) no-repeat;
   background-size: cover;
   position: relative;
   color: var(--text-main);
}
.about-me p {
   color: var(--text-secundary);
}
.about-me p span {
   color: var(--highlight);
   font-weight: 600;
}
.about-me::after {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%) rotate(-10deg);
   top: 25%;
   left: 90%;
   width: 160px;
   height: 160px;
   background: url(/assets/icons/dino-filled.avif) no-repeat;
   background-size: contain;
   animation: fadeIcons 1.5s infinite alternate;
}
@keyframes fadeIcons {
   from {
      opacity: 0.4;
   } to {
      opacity: 0.8;
   }
}

/* Skills section */

.skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 25vh 0;
   gap: 60px;
   width: 100%;
   min-height: 100%;
   position: relative;
   color: var(--text-main);
   background: url(/assets/background-skills.avif) no-repeat;
}
.skills::before, .skills::after {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%) rotate(-15deg);
   top: 30%;
   left: 10%;
   width: 90px;
   height: 90px;
   background: url(/assets/icons/html-drawing.avif) no-repeat;
   background-size: cover;
   animation: fadeIcons 1.5s infinite alternate;
}
.skills::after {
   transform: translate(-50%, -50%) rotate(15deg);
   top: 75%;
   left: 85%;
   background: url(/assets/icons/js-drawing.avif) no-repeat;
}
.skills ul {
   display: flex;
   flex-wrap: wrap;
   gap: 2.5vw;
}
.skills ul li {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 160px;
   height: 160px;
   background-color: #070D1E;
   border-radius: 20px;
   position: relative;
   overflow: hidden;
}
.skills ul li::before {
   content: "";
   position: absolute;
   top: -15%;
   left: 25%;
   width: 50%;
   height: 140%;
   animation: rotateSkills 6s linear infinite;
}
.skills ul li::after {
   content: "";
   position: absolute;
   background-color: inherit;
   inset: 5px;
   border-radius: inherit;
}
.skills ul li:nth-child(1)::before {
   background-color: #E44D26;
}
.skills ul li:nth-child(2)::before {
   background-color: #1572B6;
}
.skills ul li:nth-child(3)::before {
   background-color: #FFCA28;
}
.skills ul li:nth-child(4)::before {
   background-color: #CD6799;
}
.skills ul li:nth-child(5)::before {
   background-color: #F03C2E;
}
.skills ul:last-of-type li::before {
   background-color: #00D8FF;
}
.skills ul li p {
   font-size: 16px;
   font-weight: 600;
   color: var(--text-main);
   z-index: 1;
}
.skills ul li img {
   width: 40%;
   height: 40%;
   z-index: 1;
}
@keyframes rotateSkills {
   from {
      transform: rotate(0deg);
   } to {
      transform: rotate(360deg);
   }
}

/* Projects section */

.projects {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   min-height: 100%;
   padding: 30vh 0;
   background: url(/assets/background-projects.avif) no-repeat;
   background-size: contain;
   background-position: top center;
   position: relative;
   color: var(--text-main);
}
.projects::before, .projects::after {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%) rotate(-10deg);
   top: 45%;
   left: 10%;
   width: 90px;
   height: 90px;
   background: url(/assets/icons/code-drawing.avif) no-repeat;
   background-size: cover;
   animation: fadeIcons 1.5s infinite alternate;
}
.projects::after {
   width: 100px;
   height: 100px;
   transform: translate(-50%, -50%) rotate(10deg);
   top: 75%;
   left: 90%;
   background: url(/assets/icons/computer-drawing.avif) no-repeat;
   background-size: contain;
}
.projects ul {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2.5vw;
}
.projects ul li {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 200px;
   border-radius: 20px;
   background-color: #070D1E;
}

/* Contact section */

.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
   min-height: 100%;
   position: relative;
   color: var(--text-main);
}
.contact::before {
   content: "";
   position: absolute;
   transform: translate(-50%, -50%) rotate(15deg);
   top: 20%;
   left: 55%;
   width: 90px;
   height: 90px;
   background: url(/assets/icons/envelope-drawing.avif) no-repeat;
   background-size: contain;
   animation: fadeIcons 1.5s infinite alternate;
}
.contact ul {
   display: flex;
   gap: 4vw;
}
.contact ul li {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.contact ul li i {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   width: 80px;
   height: 80px;
   color: var(--highlight);
   background-color: #070D1E;
   border-radius: 50%;
   transition: 0.3s;
}
.contact ul li i:hover {
   transform: scale(1.1);
   filter: drop-shadow(0px 0px 15px #0c1530);
}

/* Footer section */

footer {
   display: flex;
   justify-content: space-around;
   padding: 20px 0;
   border-top: 1px solid #915eff31;
   color: var(--text-secundary);
}
footer ul {
   display: flex;
   gap: 20px;
   font-size: 20px;
}
footer ul li a {
   color: var(--highlight);
   transition: 0.3s;
}

/* Three js canvas */

.canvas-planet {
   width: 600px;
   height: 600px;
   cursor: grab;
   position: relative;
   text-align: center;
}
.canvas-planet:active {
   cursor: grabbing;
}
.canvas-container {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

/* Credits planet */

.canvas-planet .credits {
   width: 100%;
   color: var(--text-secundary);
   position: absolute;
   transform: translate(-50%, -50%);
   bottom: -20px;
   left: 50%;
   font-size: 10px;
}
.credits a {
   color: var(--highlight);
}